/* Body and general */
body{
	font-family:arial,sans-serif,helvetica;
}
div#calendarSpace{
	font-size:12px;
	text-align:center;
}
/* Table container */
div#tableContainer{
	float:left;
}	
/* Table */
table.monthBlock{
	background-color: #497;
}
table.monthBlock tr td{
	background-color:#5A8;
	color:#FFF;
	cursor:pointer;
	padding:1em;
	position:relative;
	width:40px;
}
table.monthBlock tr td#monthNameHead{
	background-color:#6B9;
}
table.monthBlock tr td.previous,
table.monthBlock tr td.next{
	color:#8DB;
}
table.monthBlock tr td.data{
	
}
table.monthBlock tr td.weekend{
	background-color:#6B9;
}
table.monthBlock tr td.today{
	background-color:#ACE;
}
table.monthBlock tr td.previous:hover,
table.monthBlock tr td.next:hover,
table.monthBlock tr td.current:hover,
div#eventsList table#events tr td.eventsCell:hover{
	background-color:#6EA;
}
table.monthBlock tr td.previous:hover,
table.monthBlock tr td.next:hover{
	color:#fff;
}
/* Change month */
span.changeMonth{
	cursor:pointer;
}
/* Events list */
div#eventsList{
	background-color:#497;
	color:#fff;
	display:none;
	float:left;
	height:100%;
	margin-left:10px;
	width:220px;
}
div#eventsList table#events{
	width:100%;
}
div#eventsList table#events tr td{
	padding:1em;
	cursor:pointer;
}
div#eventsList table#events tr td#eventsDate,
div#eventsList table#events tr td#createNewEvent{
	background-color:#6B9;
}
div#eventsList table#events tr td.eventsCell,
div#eventsList table#events tr td.noEventsCell{
	background-color:#5A8;
	text-align:center;
}
/* Event Panel */
div#eventPanel{
	background-color:#497;
	color:#fff;
	display:none;
	float:left;
	height:100%;
	margin-left:10px;
	width:220px;
}
div#eventPanel table#event{
	width:100%;
}
div#eventPanel tr td{
	background-color:#5A8;
	padding:1em;
}
div#eventPanel tr td#eventTitleAndTime{
	background-color:#6B9;
}
div#eventPanel tr td#eventDescription{
	line-height: 1.4em;
}
/* Misc */
.corner-arrow {
  border-color: #F66 #F66 transparent transparent;
  border-style:solid;
  border-width:6px;
  width:0;
  height:0;
  position:absolute;
  top:0px;
  right:0px;
}
.clear{
	clear:both;
}
div#calendarSpace div#tableContainer table.monthBlock tr td.selected,
div#calendarSpace div#eventsList table#events tr td.eventsCell.selected{
	background-color:#C78;
	color:#fff;
}